# ---------------------------------- Network -----------------------------------
#
# The bind address to use
#
address: '0.0.0.0'
#
# The listening port
#
port: '8000'
#
# The prefix path of the server. Default none
#
#prefix: '/'

# ---------------------------- Transport security ------------------------------
#tls:
#  keyFile: key.pem
#  certFile: cert.pem
# ------------------------


# ---------------------------------- Content -----------------------------------
#
# The provided base dir
#
dir: '/tmp'


# --------------------------------- Basic Auth ---------------------------------
#
# Name of the basic auth realm
#
realm: 'dave'

# ----------------------------------- Users ------------------------------------
#
# A list of user definitions
#
users:
  #
  # user with username 'user', password 'foo' and jailed access to '/tmp/user'
  #
  user:
    password: '$2a$10$yITzSSNJZAdDZs8iVBQzkuZCzZ49PyjTiPIrmBUKUpB0pwX7eySvW'
    subdir: '/user'

  #
  # user with username 'admin', password 'foo' and access to '/tmp'
  #
  admin:
    password: '$2a$10$yITzSSNJZAdDZs8iVBQzkuZCzZ49PyjTiPIrmBUKUpB0pwX7eySvW'


# ---------------------------------- Logging -----------------------------------
#
# Seperated loglevels for file / directory operations. All set to false per
# default instead of error log. The error log is set to true per default.
#
#log:
#  error: true
#  create: false
#  read: false
#  update: false
#  delete: false

# ---------------------------------- CORS -----------------------------------
#
# Use the following section to enable Cross-origin access to the server.
#
#cors:
#  origin: '*'
